<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="649faf">  <td>18/08/09 14:19:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ATagsTest.LoginElementsPresentTest()[pri:0, instance:ATagsTest@b684286]">LoginElementsPresentTest</td> 
  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="d3a17d">  <td>18/08/09 14:18:56</td>   <td>-12928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginSmokeTestNG.LoginSmokeTest()[pri:0, instance:LoginSmokeTestNG@5ba23b66]">LoginSmokeTest</td> 
  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="8dacdf">  <td>18/08/09 14:19:22</td>   <td>13336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccountPOM.checkCreateAccount()[pri:0, instance:demos.CreateAccountPOM@880ec60]">checkCreateAccount</td> 
  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="8dacdf">  <td>18/08/09 14:19:39</td>   <td>29838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccountPOM.createAccount()[pri:0, instance:demos.CreateAccountPOM@880ec60]">createAccount</td> 
  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="d3a17d">  <td>18/08/09 14:18:38</td>   <td>-30461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginSmokeTestNG.setUp()[pri:0, instance:LoginSmokeTestNG@5ba23b66]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="649faf">  <td>18/08/09 14:18:57</td>   <td>-11640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ATagsTest.setUp()[pri:0, instance:ATagsTest@b684286]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="8dacdf">  <td>18/08/09 14:19:10</td>   <td>804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccountPOM.setUp()[pri:0, instance:demos.CreateAccountPOM@880ec60]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="8dacdf">  <td>18/08/09 14:19:23</td>   <td>14463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccountPOM.setUp()[pri:0, instance:demos.CreateAccountPOM@880ec60]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="d3a17d">  <td>18/08/09 14:18:56</td>   <td>-12776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginSmokeTestNG.tearDown()[pri:0, instance:LoginSmokeTestNG@5ba23b66]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="649faf">  <td>18/08/09 14:19:09</td>   <td>330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ATagsTest.tearDown()[pri:0, instance:ATagsTest@b684286]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="8dacdf">  <td>18/08/09 14:19:23</td>   <td>14090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAccountPOM.tearDown()[pri:0, instance:demos.CreateAccountPOM@880ec60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1627960023</td>   <td></td> </tr>
<tr bgcolor="8dacdf">  <td>18/08/09 14:19:43</td>   <td>34065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAccountPOM.tearDown()[pri:0, instance:demos.CreateAccountPOM@880ec60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1627960023</td>   <td></td> </tr>
</table>
